#global
{
    border: solid black 1px;
}
 
#terminal
{
    height: 500px;
    width: 50%;
    float: left;
    border: solid black 1px;
}
 
#imageLieu
{
    height: 500px;
    border: solid black 1px;
}
 
